
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}




.container{
    background-image: url("image/banner-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}